-- 각 파라미터 예측 --

In [45]:
import pandas as pd

df=pd.read_csv('C:/multicampus/project2/데이터 전처리/data.csv', encoding='euc-kr')

In [46]:
df

,year,id,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region
0,2015,0,8617,830,14728,8988,25,282162,169303,581760,gangnam
1,2015,1,5244,154,18842,8651,20,223788,94193,463321,gangdong
2,2015,2,4257,124,14172,6977,13,163606,79634,334426,gangbuk
3,2015,3,5585,199,14376,5299,16,292237,116561,595691,gangseo
4,2015,4,6345,609,17891,4981,11,257655,113627,529031,gwanak
...,...,...,...,...,...,...,...,...,...,...,...
170,2021,170,2381,228,10852,5789,19,114778,70794,237285,yongsan
171,2021,171,3244,471,16061,12593,21,239230,91838,477173,eunpyeong
172,2021,172,2712,0,6431,14351,23,77490,69511,153789,jongno
173,2021,173,2861,403,13231,14822,22,65653,127597,131787,jung
174,2021,174,3210,448,21188,8126,17,193943,84004,391885,jungnang

In [47]:
regions=list(df['region'].unique())
regions

['gangnam',
 'gangdong',
 'gangbuk',
 'gangseo',
 'gwanak',
 'gwangjin',
 'guro',
 'geumcheon',
 'nowon',
 'dobong',
 'dongdaemun',
 'dongjak',
 'mapo',
 'seodaemun',
 'seocho',
 'seongdong',
 'seongbuk',
 'songpa',
 'yangcheon',
 'yeongdeungpo',
 'yongsan',
 'eunpyeong',
 'jongno',
 'jung',
 'jungnang']

In [48]:
df_ex=df[df['region'] == 'gangnam']

In [49]:
df_ex

,year,id,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region
0,2015,0,8617,830,14728,8988,25,282162,169303,581760,gangnam
25,2016,25,8149,1293,14484,8988,25,277824,167991,572140,gangnam
50,2017,50,7720,988,14203,8986,25,272427,170135,561052,gangnam
75,2018,75,7513,745,13859,9220,25,264231,168832,547453,gangnam
100,2019,100,7304,791,13929,9265,25,209768,173487,550209,gangnam
125,2020,125,7356,926,13773,8818,24,264813,169761,544055,gangnam
150,2021,150,6146,516,13616,7947,24,262177,173441,537800,gangnam

In [50]:
df_expect=pd.DataFrame(columns=['cnt_crime','cnt_cctv','dense_population','cnt_light','cnt_police','female_population','cnt_notify','cnt_population'],index=regions)

In [51]:
df_expect.head()

,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population
gangnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gangdong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gangbuk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gangseo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gwanak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
from sklearn.linear_model import LinearRegression
import math

for r in regions:
  df_ex=df[df['region'] == r] # 특정구 df 추출

  X=df_ex['year'] # 년도 추출
  y_lists=['cnt_crime','cnt_cctv','dense_population','cnt_light','cnt_police','female_population','cnt_notify','cnt_population'] # 다양하게 뽑아낼 파라미터

  for l in y_lists: # 하나씩 예측해보자
    y=df_ex[l] # 특정구 하나의 파라미터 추출

    reg = LinearRegression().fit(X.values.reshape(-1,1), y) # 학습
    # reg.predict([[2022]]) # 예측

    print(r+'의 '+l+'는 '+'-> '+str(math.floor(reg.predict([[2022]]))))
    df_expect[l][r]=int(math.floor(reg.predict([[2022]])))
  print('\n')

gangnam의 cnt_crime는 -> 6198
gangnam의 cnt_cctv는 -> 602
gangnam의 dense_population는 -> 13365
gangnam의 cnt_light는 -> 8432
gangnam의 cnt_police는 -> 24
gangnam의 female_population는 -> 240680
gangnam의 cnt_notify는 -> 173179
gangnam의 cnt_population는 -> 527939


gangdong의 cnt_crime는 -> 3170
gangdong의 cnt_cctv는 -> 495
gangdong의 dense_population는 -> 18563
gangdong의 cnt_light는 -> 8603
gangdong의 cnt_police는 -> 19
gangdong의 female_population는 -> 210837
gangdong의 cnt_notify는 -> 88105
gangdong의 cnt_population는 -> 456495


gangbuk의 cnt_crime는 -> 2269
gangbuk의 cnt_cctv는 -> 842
gangbuk의 dense_population는 -> 12733
gangbuk의 cnt_light는 -> 8032
gangbuk의 cnt_police는 -> 13
gangbuk의 female_population는 -> 142866
gangbuk의 cnt_notify는 -> 69613
gangbuk의 cnt_population는 -> 300529


gangseo의 cnt_crime는 -> 3812
gangseo의 cnt_cctv는 -> 420
gangseo의 dense_population는 -> 14074
gangseo의 cnt_light는 -> 6484
gangseo의 cnt_police는 -> 16
gangseo의 female_population는 -> 278509
gangseo의 cnt_notify는 -> 115134
gangseo의 cnt_population는 -> 583349


gwanak의 cnt_crime는 -> 4410
gwanak의 cnt_cctv는 -> 280
gwanak의 dense_population는 -> 16901
gwanak의 cnt_light는 -> 4802
gwanak의 cnt_police는 -> 13
gwanak의 female_population는 -> 248140
gwanak의 cnt_notify는 -> 115675
gwanak의 cnt_population는 -> 499749


gwangjin의 cnt_crime는 -> 2564
gwangjin의 cnt_cctv는 -> 683
gwangjin의 dense_population는 -> 20708
gwangjin의 cnt_light는 -> 8461
gwangjin의 cnt_police는 -> 20
gwangjin의 female_population는 -> 173901
gwangjin의 cnt_notify는 -> 80595
gwangjin의 cnt_population는 -> 353339


guro의 cnt_crime는 -> 3433
guro의 cnt_cctv는 -> 553
guro의 dense_population는 -> 20878
guro의 cnt_light는 -> 6828
guro의 cnt_police는 -> 17
guro의 female_population는 -> 203037
guro의 cnt_notify는 -> 83386
guro의 cnt_population는 -> 420076


geumcheon의 cnt_crime는 -> 2263
geumcheon의 cnt_cctv는 -> 307
geumcheon의 dense_population는 -> 18802
geumcheon의 cnt_light는 -> 5833
geumcheon의 cnt_police는 -> 26
geumcheon의 female_population는 -> 119173
geumcheon의 cnt_notify는 -> 59698
geumcheon의 cnt_population는 -> 244820


nowon의 cnt_crime는 -> 3205
nowon의 cnt_cctv는 -> 220
nowon의 dense_population는 -> 14253
nowon의 cnt_light는 -> 4311
nowon의 cnt_police는 -> 14
nowon의 female_population는 -> 237449
nowon의 cnt_notify는 -> 23439
nowon의 cnt_population는 -> 505141


dobong의 cnt_crime는 -> 1811
dobong의 cnt_cctv는 -> 442
dobong의 dense_population는 -> 15339
dobong의 cnt_light는 -> 4654
dobong의 cnt_police는 -> 9
dobong의 female_population는 -> 147435
dobong의 cnt_notify는 -> 85056
dobong의 cnt_population는 -> 316533


dongdaemun의 cnt_crime는 -> 2696
dongdaemun의 cnt_cctv는 -> 164
dongdaemun의 dense_population는 -> 24634
dongdaemun의 cnt_light는 -> 9736
dongdaemun의 cnt_police는 -> 15
dongdaemun의 female_population는 -> 171740
dongdaemun의 cnt_notify는 -> 52107
dongdaemun의 cnt_population는 -> 350212


dongjak의 cnt_crime는 -> 2664
dongjak의 cnt_cctv는 -> 253
dongjak의 dense_population는 -> 24200
dongjak의 cnt_light는 -> 6094
dongjak의 cnt_police는 -> 22
dongjak의 female_population는 -> 191531
dongjak의 cnt_notify는 -> 68253
dongjak의 cnt_population는 -> 395798


mapo의 cnt_crime는 -> 3214
mapo의 cnt_cctv는 -> 263
mapo의 dense_population는 -> 15756
mapo의 cnt_light는 -> 6333
mapo의 cnt_police는 -> 11
mapo의 female_population는 -> 183666
mapo의 cnt_notify는 -> 103038
mapo의 cnt_population는 -> 375848


seodaemun의 cnt_crime는 -> 1953
seodaemun의 cnt_cctv는 -> 297
seodaemun의 dense_population는 -> 18055
seodaemun의 cnt_light는 -> 8894
seodaemun의 cnt_police는 -> 15
seodaemun의 female_population는 -> 160811
seodaemun의 cnt_notify는 -> 58485
seodaemun의 cnt_population는 -> 318404


seocho의 cnt_crime는 -> 4051
seocho의 cnt_cctv는 -> 427
seocho의 dense_population는 -> 8837
seocho의 cnt_light는 -> 8966
seocho의 cnt_police는 -> 15
seocho의 female_population는 -> 188660
seocho의 cnt_notify는 -> 95782
seocho의 cnt_population는 -> 415161


seongdong의 cnt_crime는 -> 1896
seongdong의 cnt_cctv는 -> 433
seongdong의 dense_population는 -> 17703
seongdong의 cnt_light는 -> 10500
seongdong의 cnt_police는 -> 12
seongdong의 female_population는 -> 143378
seongdong의 cnt_notify는 -> 59924
seongdong의 cnt_population는 -> 298476


seongbuk의 cnt_crime는 -> 2012
seongbuk의 cnt_cctv는 -> 490
seongbuk의 dense_population는 -> 17777
seongbuk의 cnt_light는 -> 8296
seongbuk의 cnt_police는 -> 17
seongbuk의 female_population는 -> 212762
seongbuk의 cnt_notify는 -> 71753
seongbuk의 cnt_population는 -> 436882


songpa의 cnt_crime는 -> 4663
songpa의 cnt_cctv는 -> 479
songpa의 dense_population는 -> 19891
songpa의 cnt_light는 -> 5394
songpa의 cnt_police는 -> 13
songpa의 female_population는 -> 312094
songpa의 cnt_notify는 -> 125316
songpa의 cnt_population는 -> 673817


yangcheon의 cnt_crime는 -> 2640
yangcheon의 cnt_cctv는 -> 438
yangcheon의 dense_population는 -> 25509
yangcheon의 cnt_light는 -> 9822
yangcheon의 cnt_police는 -> 15
yangcheon의 female_population는 -> 201443
yangcheon의 cnt_notify는 -> 69924
yangcheon의 cnt_population는 -> 444020


yeongdeungpo의 cnt_crime는 -> 4255
yeongdeungpo의 cnt_cctv는 -> 699
yeongdeungpo의 dense_population는 -> 16224
yeongdeungpo의 cnt_light는 -> 6380
yeongdeungpo의 cnt_police는 -> 18
yeongdeungpo의 female_population는 -> 193267
yeongdeungpo의 cnt_notify는 -> 110908
yeongdeungpo의 cnt_population는 -> 398414


yongsan의 cnt_crime는 -> 2384
yongsan의 cnt_cctv는 -> 394
yongsan의 dense_population는 -> 10960
yongsan의 cnt_light는 -> 5799
yongsan의 cnt_police는 -> 19
yongsan의 female_population는 -> 110571
yongsan의 cnt_notify는 -> 73273
yongsan의 cnt_population는 -> 239659


eunpyeong의 cnt_crime는 -> 2929
eunpyeong의 cnt_cctv는 -> 612
eunpyeong의 dense_population는 -> 15945
eunpyeong의 cnt_light는 -> 13215
eunpyeong의 cnt_police는 -> 21
eunpyeong의 female_population는 -> 222738
eunpyeong의 cnt_notify는 -> 87648
eunpyeong의 cnt_population는 -> 473783


jongno의 cnt_crime는 -> 2523
jongno의 cnt_cctv는 -> 57
jongno의 dense_population는 -> 6507
jongno의 cnt_light는 -> 14851
jongno의 cnt_police는 -> 22
jongno의 female_population는 -> 73995
jongno의 cnt_notify는 -> 69210
jongno의 cnt_population는 -> 155620


jung의 cnt_crime는 -> 2838
jung의 cnt_cctv는 -> 382
jung의 dense_population는 -> 13433
jung의 cnt_light는 -> 15377
jung의 cnt_police는 -> 21
jung의 female_population는 -> 64562
jung의 cnt_notify는 -> 125960
jung의 cnt_population는 -> 133799


jungnang의 cnt_crime는 -> 3059
jungnang의 cnt_cctv는 -> 921
jungnang의 dense_population는 -> 21051
jungnang의 cnt_light는 -> 8203
jungnang의 cnt_police는 -> 16
jungnang의 female_population는 -> 183002
jungnang의 cnt_notify는 -> 84929
jungnang의 cnt_population는 -> 389357

In [75]:
df_expect #22년도 예측 데이터

,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region,year,id
0,6198,602,13365,8432,24,240680,122966,527939,gangnam,2022,0
1,3170,495,18563,8603,19,210837,74051,456495,gangdong,2022,1
2,2269,842,12733,8032,13,142866,77153,300529,gangbuk,2022,2
3,3812,420,14074,6484,16,278509,81228,583349,gangseo,2022,3
4,4410,280,16901,4802,13,248140,88507,499749,gwanak,2022,4
5,2564,683,20708,8461,20,173901,62593,353339,gwangjin,2022,5
6,3433,553,20878,6828,17,203037,75302,420076,guro,2022,6
7,2263,307,18802,5833,26,119173,48774,244820,geumcheon,2022,7
8,3205,220,14253,4311,14,237449,65141,505141,nowon,2022,8
9,1811,442,15339,4654,9,147435,62942,316533,dobong,2022,9
10,2696,164,24634,9736,15,171740,67826,350212,dongdaemun,2022,10
11,2664,253,24200,6094,22,191531,53968,395798,dongjak,2022,11
12,3214,263,15756,6333,11,183666,75008,375848,mapo,2022,12
13,1953,297,18055,8894,15,160811,52181,318404,seodaemun,2022,13
14,4051,427,8837,8966,15,188660,95156,415161,seocho,2022,14
15,1896,433,17703,10500,12,143378,59151,298476,seongdong,2022,15
16,2012,490,17777,8296,17,212762,48993,436882,seongbuk,2022,16
17,4663,479,19891,5394,13,312094,85017,673817,songpa,2022,17
18,2640,438,25509,9822,15,201443,57888,444020,yangcheon,2022,18
19,4255,699,16224,6380,18,193267,86377,398414,yeongdeungpo,2022,19
20,2384,394,10960,5799,19,110571,57232,239659,yongsan,2022,20
21,2929,612,15945,13215,21,222738,78569,473783,eunpyeong,2022,21
22,2523,57,6507,14851,22,73995,77872,155620,jongno,2022,22
23,2838,382,13433,15377,21,64562,84680,133799,jung,2022,23
24,3059,921,21051,8203,16,183002,75664,389357,jungnang,2022,24

In [76]:
df_expect['region']=df_expect.index
df_expect.index=range(0,25)
df_expect

,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region,year,id
0,6198,602,13365,8432,24,240680,122966,527939,0,2022,0
1,3170,495,18563,8603,19,210837,74051,456495,1,2022,1
2,2269,842,12733,8032,13,142866,77153,300529,2,2022,2
3,3812,420,14074,6484,16,278509,81228,583349,3,2022,3
4,4410,280,16901,4802,13,248140,88507,499749,4,2022,4
5,2564,683,20708,8461,20,173901,62593,353339,5,2022,5
6,3433,553,20878,6828,17,203037,75302,420076,6,2022,6
7,2263,307,18802,5833,26,119173,48774,244820,7,2022,7
8,3205,220,14253,4311,14,237449,65141,505141,8,2022,8
9,1811,442,15339,4654,9,147435,62942,316533,9,2022,9
10,2696,164,24634,9736,15,171740,67826,350212,10,2022,10
11,2664,253,24200,6094,22,191531,53968,395798,11,2022,11
12,3214,263,15756,6333,11,183666,75008,375848,12,2022,12
13,1953,297,18055,8894,15,160811,52181,318404,13,2022,13
14,4051,427,8837,8966,15,188660,95156,415161,14,2022,14
15,1896,433,17703,10500,12,143378,59151,298476,15,2022,15
16,2012,490,17777,8296,17,212762,48993,436882,16,2022,16
17,4663,479,19891,5394,13,312094,85017,673817,17,2022,17
18,2640,438,25509,9822,15,201443,57888,444020,18,2022,18
19,4255,699,16224,6380,18,193267,86377,398414,19,2022,19
20,2384,394,10960,5799,19,110571,57232,239659,20,2022,20
21,2929,612,15945,13215,21,222738,78569,473783,21,2022,21
22,2523,57,6507,14851,22,73995,77872,155620,22,2022,22
23,2838,382,13433,15377,21,64562,84680,133799,23,2022,23
24,3059,921,21051,8203,16,183002,75664,389357,24,2022,24

In [55]:
df_past=pd.read_csv('C:/multicampus/project2/데이터 전처리/data.csv', encoding='euc-kr')

In [56]:
df_past

,year,id,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region
0,2015,0,8617,830,14728,8988,25,282162,169303,581760,gangnam
1,2015,1,5244,154,18842,8651,20,223788,94193,463321,gangdong
2,2015,2,4257,124,14172,6977,13,163606,79634,334426,gangbuk
3,2015,3,5585,199,14376,5299,16,292237,116561,595691,gangseo
4,2015,4,6345,609,17891,4981,11,257655,113627,529031,gwanak
...,...,...,...,...,...,...,...,...,...,...,...
170,2021,170,2381,228,10852,5789,19,114778,70794,237285,yongsan
171,2021,171,3244,471,16061,12593,21,239230,91838,477173,eunpyeong
172,2021,172,2712,0,6431,14351,23,77490,69511,153789,jongno
173,2021,173,2861,403,13231,14822,22,65653,127597,131787,jung
174,2021,174,3210,448,21188,8126,17,193943,84004,391885,jungnang

In [57]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df_past['region']=le.fit_transform(df_past['region'])
df_expect['region']=le.transform(df_expect['region'])

In [58]:
df_past.head()

,year,id,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region
0,2015,0,8617,830,14728,8988,25,282162,169303,581760,6
1,2015,1,5244,154,18842,8651,20,223788,94193,463321,5
2,2015,2,4257,124,14172,6977,13,163606,79634,334426,4
3,2015,3,5585,199,14376,5299,16,292237,116561,595691,7
4,2015,4,6345,609,17891,4981,11,257655,113627,529031,10

In [59]:
df_expect.head()

,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region
0,6198,602,13365,8432,24,240680,173179,527939,6
1,3170,495,18563,8603,19,210837,88105,456495,5
2,2269,842,12733,8032,13,142866,69613,300529,4
3,3812,420,14074,6484,16,278509,115134,583349,7
4,4410,280,16901,4802,13,248140,115675,499749,10

In [60]:
X=df_past.drop(['year','id','cnt_notify'],axis=1)
y=df_past['cnt_notify']

In [61]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [62]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
import numpy as np

regr = LinearRegression()
regr.fit(X_train, y_train)

y_test_pred=regr.predict(X_test)
print(regr.score(X_test,y_test))

scores = cross_val_score(regr, X, y)
print(scores.mean())

print(mean_absolute_error(y_test, y_test_pred))
print(mean_squared_error(y_test, y_test_pred))
MSE = mean_squared_error(y_test, y_test_pred) 
print(np.sqrt(MSE))

0.4927424295255639
0.42618845342128164
13665.558305121674
331935977.66772825
18219.110232602696

In [63]:
df_expect['cnt_notify']= 0

In [64]:
df_expect.head()

,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region
0,6198,602,13365,8432,24,240680,0,527939,6
1,3170,495,18563,8603,19,210837,0,456495,5
2,2269,842,12733,8032,13,142866,0,300529,4
3,3812,420,14074,6484,16,278509,0,583349,7
4,4410,280,16901,4802,13,248140,0,499749,10

In [67]:
df_expect['cnt_notify']=regr.predict(df_expect.drop(['cnt_notify'],axis=1))

In [68]:
df_past['region']=le.inverse_transform(df_past['region'])
df_expect['region']=le.inverse_transform(df_expect['region'])

In [69]:
df_expect['year']= 2022
df_expect['id']= df_expect.index

In [70]:
df_expect['cnt_notify']=df_expect['cnt_notify'].astype('int64')

In [77]:
df_past.head() #15년~21년 데이터

,year,id,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region
0,2015,0,8617,830,14728,8988,25,282162,169303,581760,gangnam
1,2015,1,5244,154,18842,8651,20,223788,94193,463321,gangdong
2,2015,2,4257,124,14172,6977,13,163606,79634,334426,gangbuk
3,2015,3,5585,199,14376,5299,16,292237,116561,595691,gangseo
4,2015,4,6345,609,17891,4981,11,257655,113627,529031,gwanak

In [78]:
df_expect.head() # 22년 예측 데이터

,cnt_crime,cnt_cctv,dense_population,cnt_light,cnt_police,female_population,cnt_notify,cnt_population,region,year,id
0,6198,602,13365,8432,24,240680,122966,527939,0,2022,0
1,3170,495,18563,8603,19,210837,74051,456495,1,2022,1
2,2269,842,12733,8032,13,142866,77153,300529,2,2022,2
3,3812,420,14074,6484,16,278509,81228,583349,3,2022,3
4,4410,280,16901,4802,13,248140,88507,499749,4,2022,4

In [74]:
df_expect.to_csv('C:/multicampus/project2/데이터 전처리/expect_2022.csv',index=False)

In [79]:
#lable encoding

In [80]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df_past['region']=le.fit_transform(df_past['region'])

In [81]:
X=df_past.drop(['year','id','cnt_notify'],axis=1)
y=df_past['cnt_notify']

In [82]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [83]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
import numpy as np

regr = LinearRegression()
regr.fit(X_train, y_train)

y_test_pred=regr.predict(X_test)
print(regr.score(X_test,y_test))

scores = cross_val_score(regr, X, y)
print(scores.mean())

print(mean_absolute_error(y_test, y_test_pred))
print(mean_squared_error(y_test, y_test_pred))
MSE = mean_squared_error(y_test, y_test_pred) 
print(np.sqrt(MSE))

0.4927424295255639
0.42618845342128164
13665.558305121674
331935977.66772825
18219.110232602696